*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
    position: relative;
}
.logo h2 a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 10PX;
    font-family: 'Poppins', sans-serif;
}
